.converter {
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  &__header {
    font-size: 25px;
  }
  &__container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    .currency-converter {
      width: 700px;
      height: 400px;
      display: flex;
      justify-content: space-around;
      border: 1px solid black;
      border-radius: 5px;
      .equal-sign{
        font-size: 50px;
       margin-top: 90px; 
      }
      &__item {
        display: flex;
        margin-top: 40px;
        flex-direction: column;
        &_name {
          height: 20px;
          width: auto;
          text-align: center;
          margin: 30px 0px;
        }
      }
      &__select {
        height: 50px;
        width: 250px;
        text-align: center;
        font-size: 25px;
      }
      &__input {
        height: 50px;
        width: 245px;
        font-size: 25px;
      }
    }
    .single-currency {
      width: 300px;
      height: 400px;
      border: 1px solid black;
      border-radius: 5px;
    }
  }
}
.loading{
    position: absolute;
    top: 30%;
    left: 45%;
}
.error{
    position: absolute;
    top: 30%;
    left: 45%;
    font-size: 40px;
    color:red;
}
